.profilePageContainer{
    display: flex;
    margin-top: 55px;
    width: 100%;
}

.sidebarContainer{
    background: linear-gradient(to right, #c8d7f2, #db6c6c);
    border-radius: 20px;
    margin-top: .5%;
    width: 22%;
    height: calc( 98vh - 55px );
  }

  .userProfileHeader{
    background: linear-gradient(to right, #c8d7f2, #db6c6c);
    align-items: center;
    text-align: left;
    border-radius: 20px;
    margin-top: 1.5%;
    margin-bottom: 4%;
    padding: 5%;
    padding-bottom: auto;
    padding-top: auto;
    width: 100%;
    aspect-ratio: 1/1;
    height: calc( 36vh - 55px );

  }

  .userInfoContainer{
    background: linear-gradient(to right, #c8d7f2, #db6c6c);
    border-radius: 20px;
    margin-left: .5%;
    margin-right: .5%;
    margin-top: .5%;
    width: 25%;
    height: calc( 98vh - 55px );
  }

  .Gryffindor{
    background: -webkit-linear-gradient(red, gold);
    background-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.Hufflepuff{
    background: -webkit-linear-gradient(yellow, yellow);
    background-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.Ravenclaw{
    background: -webkit-linear-gradient(blue, white);
    background-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.Slytherin{
    background: -webkit-linear-gradient(green, silver);
    background-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

  .userProfileContainer{
    width: 50%;
  }

  .userProfileFeedContainer{
    background: linear-gradient(to right, #9db8eb, #1c3a73, #9db8eb);
    border-radius: 20px;
    margin-left: .5%;
    margin-right: .5%;
    margin-top: .5%;
    width: 100%;
    height: calc( 100vh - 55px );
    overflow-y: auto;
  }

  .userProfileFeedContainer::-webkit-scrollbar {
    width: 0.5em; /* For Chrome, Safari, and Opera */
    }

  .userProfileFeedContainer::-webkit-scrollbar-thumb {
    background-color: transparent; /* For Chrome, Safari, and Opera */
  }

  