.NextmatchCard{
    margin: auto;
    margin-top: 10%;
    width: 90%;
    background-color: rgba(255, 255, 255, .5);
    padding: 1%;
    border-radius: 5px;
}

.NextmatchHeader{
    margin-top: 5%;
    margin-left: 2%;
    margin-bottom: 6%;
    text-align: left;
}

.NextmatchShow{
    width: 100%;
    display: flex;
    text-align: left;
    align-items: center;
}

.teamName{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.vs{
    font-size: 10%;
}

.Gryffindor{
    background: -webkit-linear-gradient(red, gold);
    background-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.Hufflepuff{
    background: -webkit-linear-gradient(yellow, yellow);
    background-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.Ravenclaw{
    background: -webkit-linear-gradient(blue, white);
    background-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.Slytherin{
    background: -webkit-linear-gradient(green, silver);
    background-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.teamImage{
    width: 50%;
    opacity: .8;
    margin-left: 2%;
    margin-right: 3%;
    border-radius: 10px;
}