.PostcardWrapper{
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    transform: translate(2%, 0%);
}

.postBar{
    background-color: white;
    height: 90%;
    width: 100%;
    align-items: center;
    display: flex;
    border-radius: 10px;
    margin-bottom: 4%;
}

.postBarInput{
    width: 100%;
    font-size: 85%;
    border: none;
    outline: none;
    margin-left: 1%;
}


.postImageBar{
    text-align: left;
}

.postImageBarInput{
    
}

.FeedcardWrapper{
    background-color: transparent;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    transform: translate(0%, 0%);
}