.sponsors{
    margin: 2%;
    margin-top: 2.2%;
}

.sponsorHeader{
    margin-top: 5%;
    margin-left: 2%;
    margin-bottom: 6%;
    text-align: left;
    color: red;
}

.sponsorCard{
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.sponsorImage{
    width: 50%;
    aspect-ratio: 1/.7;
    opacity: .8;
    margin-left: 2%;
    margin-right: 3%;
    border-radius: 10px;
    object-fit: cover;
}

.sponsorName{
    text-align: right;
    margin-right: 10%;
}