.activeFriendsWrapper{
    text-align: left;
    margin-top: 10%;
}

.activeFriendsHeader{
    margin-top: 5%;
    margin-left: 5%;
}

.activeFriendsList{
    width: 80%;
    list-style-type: none;
    align-items: left;
    transform: translate(-10%, 0%);
    margin-top: 5%;
    margin-bottom: 20%;
    text-align: left;
}

.activeFriendsListItem{
    width: 100%;
    text-align: left;
}

.activeFriendsListItemButton{
    width: 100%;
    display: flex;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: left;
    align-items: center;
    font-size: 100%;
    margin-bottom: 10%;
}

.activeFriendsListItemButton:hover{
    width: 100%;
    display: flex;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: left;
    align-items: center;
    background-color: aliceblue;
    opacity: .8;

}

.activeFriendsListItemImage{
    width: 18%;
    aspect-ratio: 2 / 2;
    border-radius: 20px;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 2px solid black;
    cursor: pointer;
    object-fit: cover;
}

.activeFriendsListItemIcon{
    font-size: 0.2%;
    height: 2%;
    color: lightgreen;
}