@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@400;500;700&display=swap');

.feedcards{
    align-items: center;
    overflow-y: auto;
}

.feedcards:hover{
    align-items: center;
    overflow-y: auto;
}


.feedcards::-webkit-scrollbar {
    width: 0.5em; /* For Chrome, Safari, and Opera */
}

.feedcards::-webkit-scrollbar-thumb {
    background-color: transparent; /* For Chrome, Safari, and Opera */
}

.feedcard{
    width: 100%;
    background-color: transparent;
    align-items: center;
    font-size: 90%;
    padding: .5%;
    margin: 2%;
    border-radius: 5px;
    position: relative;
}

.feedcardHeader{
    background-color: rgba(255, 2555, 255, .2);
    margin-bottom: .7%;
    padding-left: 3%;
    padding: .4%;
    text-align: left;
    display: flex;
    align-items: center;
}


.feedcardbodyCaption{
    background-color: rgba(255, 2555, 255, .5);
    font-size: 100%;
    margin-bottom: .8%;
    width: 100%;
    text-align: left;
    align-items: center;
    padding-left: 2%;
    aspect-ratio: 1/.03;
    font-family: Lato;
}

.feedcardbodyImage{
    background-color: rgba(255, 2555, 255, .5);
    margin-bottom: 1%;
    width: 100%;
    aspect-ratio: 1/.5;
}

.feedcardHeaderImage{
    width: 5%;
    margin-right: 2%;
    aspect-ratio: 2 / 2;
    border-radius: 20px;
    border: 2px solid black;
    cursor: pointer;
    object-fit: cover;
}

.feedcardBodyImage{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.feedcardFooter{
    background-color: rgba(255, 2555, 255, .2);
    margin-bottom: .5%;
    padding-left: 3%;
    padding: .4%;
    text-align: left;
    display: flex;
    align-items: center;
}

.feedcardHeaderInfo{
    align-items: center;
}

h6{
    margin: 0;
}

.feedCardLikeButton{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.feedCardLikeButton:hover,
.feedCardLikeButton:focus,
.feedCardLikeButton:active:focus,
.feedCardLikeButton.active:focus,
.feedCardLikeButton.focus,
.feedCardLikeButton:active.focus,
.feedCardLikeButton.active.focus,
.feedCardLikeButton:active{

    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.feedCardLikersButton{
    background-color: transparent;
    border: none;
    outline: none;
    align-items: center;
    text-align: left;
    font-size: 100%;
    transform: translate(-20%, -10%);
    cursor: pointer;
}

.feedCardLikersButton:hover,
.feedCardLikersButton:focus,
.feedCardLikersButton:active:focus,
.feedCardLikersButton.active:focus,
.feedCardLikersButton.focus,
.feedCardLikersButton:active.focus,
.feedCardLikersButton.active.focus,
.feedCardLikersButton:active{

    background-color: transparent;
    border: none;
    outline: none;
    align-items: center;
    text-align: left;
    font-size: 100%;
    transform: translate(-20%, -10%);
    cursor: pointer;
}

.likedIcon{
    color: red;
}