.homeBG{
    min-height: 200%;
    opacity: .9;
    padding: 20px;
    width: 100%;
  }

  .homeContainer{
    display: flex;
    margin-top: 55px;
  }

  .sidebarContainer{
    background: linear-gradient(#db6c6c, #9198e5);
    margin: .5%;
    width: 20%;
    height: calc( 200vh - 55px );
  }

  .feedContainer{
    background: linear-gradient(#db6c6c, #9198e5);
    margin: .5%;
    width: 60%;
    height: calc( 100vh - 55px );
  }

  .rightbarContainer{
    background: linear-gradient(#db6c6c, #9198e5);
    margin: .5%;
    width: 20%;
    height: calc( 100vh - 55px );
  }