.homeBG{
    min-height: 200%;
    opacity: .9;
    padding: 20px;
    width: 100%;
  }

  .homeContainer{
    display: flex;
    margin-top: 55px;
  }

  .sidebarContainer{
    background: linear-gradient(to right, #db6c6c, #9198e5);
    border-radius: 20px;
    margin-top: .5%;
    width: 22%;
    height: calc( 98vh - 55px );
  }

  .feedContainer{
    background: linear-gradient(to right, #db6c6c, #9198e5);
    border-radius: 20px;
    margin-left: .5%;
    margin-right: .5%;
    margin-top: .5%;
    width: 56%;
    height: calc( 98vh - 55px );
    overflow-y: auto;
  }

  .feedContainer::-webkit-scrollbar {
    width: 0.5em; /* For Chrome, Safari, and Opera */
    }

  .feedContainer::-webkit-scrollbar-thumb {
    background-color: transparent; /* For Chrome, Safari, and Opera */
  }

  .rightbarContainer{
    background: linear-gradient(to right, #db6c6c, #9198e5);
    border-radius: 20px;
    margin-top: .5%;
    width: 22%;
    height: calc( 98vh - 55px );
    overflow-y: auto;
  }

  .rightbarContainer::-webkit-scrollbar {
    width: 0.5em; /* For Chrome, Safari, and Opera */
    }

  .rightbarContainer::-webkit-scrollbar-thumb {
    background-color: transparent; /* For Chrome, Safari, and Opera */
  }